@import "../common/variables";
@import "../common/mixins";
.detail-container {
  display: flex;
  .child {
    flex-grow: 1;
    div {
      column-count: 2;
      padding-top: 10px;
      ul {
        justify-content: flex-start;
        flex-direction: column;
        display: block;
        padding-top: 0;
        li {
          vertical-align: middle;
          margin-bottom: 10px;
          span {
            font-size: $small-text;
            vertical-align: middle;
          }
          img {
            vertical-align: middle;
            margin-right: 10px;
            height: 80px;
            width: 80px;
          }
        }
      }
    }
  }
  img {
    height: 800px;
  }
}
.loadingLittle {
  height: 80px;
  width: 80px;
}

.loadingUltraBig {
  height: 800px;
  width: 530px;
}
@import "./breakpoint";
